.field-wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top:0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99;
}

.field-wrapper .field {
  width: 90%;
  height: 90vh;
  background-color: #fff;
  margin: 10px auto;
}

.form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 80% 10%;
  gap:20px;
}

.file-field {
  width: 100%;
  height: 100%;
  border: dotted 2px #929292;
}

@media screen and (min-width: 800px) {
  .field-wrapper {
    width: 70%;
  }
}