.wrapper {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.wrapper h2 {
  font-family: var(--content-font-family);
}

.btn {
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  padding: 10px;
  border-radius: 5px;
  z-index: 99999;
}