.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 0;
}

.wrapper h1 {
  font-family: var(--logo-font-family);
  color: var(--primary-button-color);
  font-size: 10em;
}

.wrapper h2 {
  font-family: var(--content-font-family);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.wrapper a {
  text-decoration: none;
  color: indianred;
  font-family: var(--content-font-family);
}

.wrapper a:hover {
  text-decoration: underline;
}